---
layout: default
---

<div id="carouselFeatured" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% assign carousel_counter = 0 %}
    {% for post in site.portfolio %}
      {% if post.featured_home %}
        <button type="button" data-bs-target="#carouselFeatured" data-bs-slide-to="{{ carousel_counter }}" {% if carousel_counter == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ carousel_counter }}"></button>
      {% assign carousel_counter = carousel_counter | plus: 1 %}
      {% endif %}
    {% endfor %} 
    <!-- <button type="button" data-bs-target="#carouselFeatured" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselFeatured" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>
  <div class="carousel-inner">
    {% assign carousel_counter = 0 %}
    {% for post in site.portfolio %}
    {% if post.featured_home %}
    <div {% if carousel_counter == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
      <a href="{{ '/portfolio' | relative_url }}">
        <img src="{{site.baseurl}}/assets/images/{{post.image}}" class="d-block" alt="...">
      </a>
      <!-- <div class="carousel-caption d-none d-md-block">
        <button type="button" class="btn btn-light"><h5>{{ post.title }}</h5></button>
      </div> -->
    </div>
    {% assign carousel_counter = carousel_counter | plus: 1 %}
    {% endif %}
  {% endfor %}
  </div> 
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeatured" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselFeatured" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <hr>
</div>


<!-- archive sorted by types -->
<!-- <div class="archive mt-2">

  <h1>Archive</h1>

  {% assign sortedPosts = site.portfolio | sort: 'type' %}
  {% for post in sortedPosts %}
  {% assign currType = post.type %}
  {% if currType != type %}
  <h4 class="archive-year"> <em>{{ currType | capitalize }}</em></h4>
  {% assign type = currType %} 
  {% endif %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4">{{ post.date | date: "%Y" }}</span>
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
  </div>
  {% endfor %}

</div> -->

<!-- archive sorted by dates -->

<div class="archive mt-2">

  <h1>Archive</h1>

  {% assign sortedPosts = site.portfolio | sort: date | reverse %}
  {% for post in sortedPosts %}
  <div class="archive-item">
    <span class="post-date archive-date fs-6">{{ post.date | date: "%Y" }}</span>
    <a href="{{ post.url | relative_url }}" class="archive-title fs-6">{{ post.title }}</a>
  </div>
  {% endfor %}

</div>

<!-- <div class="archive">
  {% for post in site.posts %} {% assign currDate = post.date | date: "%Y" %} {%
  if currDate != date %}
  <h1 class="archive-year">{{ currDate }}</h1>
  {% assign date = currDate %} {% endif %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%B %d, %Y" }}</span
    >
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
      >{{ post.title }}</a
    >
  </div>
  {% endfor %}

</div> -->
