<nav class="navbar navbar-expand-md navbar-light">
  <!-- <div class="container-fluid"> -->
    <a class="navbar-brand p-0 me-4" href="{{ '/' | relative_url }}">
    {% if site.logo %}
    <img src="{{ site.logo | relative_url }}" alt="logo" width="150" class="d-inline-block align-top m-0 logo">
    {% endif %}
      <span class="navbar-name">{{ site.name }} </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-none d-md-flex flex-row">
        {% for item in site.data.navigation %}
          <li class="nav-item mx-3">
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav d-md-none">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <!-- <hr class="d-md-none my-2">
      <div class="d-flex align-items-center ms-auto">
        {% include svg_icons.html %}
      </div> -->
    </div>
  <!-- </div> -->
</nav>