---
layout: default
---

<div class="portfolio-post">
  <h1>{{ page.title }}</h1>
  <!-- <span class="fs-4 text-muted">{{ page.subtitle }}</span> -->
  <!-- <div class="text-center mt-1">
    <img src="{{site.baseurl}}/assets/images/{{page.image}}" class="img-fluid" style="object-fit: contain;" alt="Image of {{ page.title }}">
  </div> -->
  <div class="mt-3">
    <p class="fs-5 text-muted">{{ page.subtitle }}</p>
    {{ content }}
  </div>
  <div class="text-center mt-5">
    <a href="{{ '/portfolio' | relative_url }}">
      <button type="button" class="btn btn-outline-dark">Back to Portfolio</button>
    </a>
  </div>
</div>
